node_modules
.next
.git
.gitignore
.dockerignore
*.md
*.html
*.csv
*.sql
*.txt
.env*
.vercel
crm_php
scratch
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
docker-compose*.yml
db_backup
